# alle Dateien werden ignoriert
/*

# diese Ordner/Datein werden nicht ignoriert
!/configureddefaults
!/mods
!/resourcepacks
!/trees_random_bs
!trees_random_bs.zip
!/skilltree
!/shaderpacks
!todo.txt
!/servermods

# einige Ordner wieder ignorieren
/mods/.connector
/mods/.index
